<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta id="myViewport" name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Heat Generator Service</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


    <!--------------------------------------js Functions-------------------------------------->
    <script type="text/javascript" language="javascript">
    </script>

    <link rel="preload" href="/style/index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" href="/style/index.css">
    </noscript>


    <style>
        body {
            font-family: "Titillium Web", sans-serif;
            font-weight: 300;
            line-height: 1.5em;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4 {
            font-family: 'Titillium Web;
 line-height: 1.5em;
        }

        a,
        abbr,
        acronym,
        address,
        applet,
        article,
        aside,
        audio,
        b,
        big,
        blockquote,
        body,
        canvas,
        caption,
        center,
        cite,
        code,
        dd,
        del,
        details,
        dfn,
        div,
        dl,
        dt,
        em,
        embed,
        fieldset,
        figcaption,
        figure,
        footer,
        form,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        header,
        hgroup,
        html,
        i,
        iframe,
        img,
        ins,
        kbd,
        label,
        legend,
        li,
        main,
        mark,
        menu,
        nav,
        object,
        ol,
        output,
        p,
        pre,
        q,
        ruby,
        s,
        samp,
        section,
        small,
        span,
        strike,
        strong,
        sub,
        summary,
        sup,
        table,
        tbody,
        td,
        tfoot,
        th,
        thead,
        time,
        tr,
        tt,
        u,
        ul,
        var,
        video {
            font-family: 'Titillium Web';
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web" rel="stylesheet">


</head>

<body>
    <div id="navbarNav-outer"
        style="box-shadow: rgba(17, 18, 38, 0.15) 0px 0px 0px; transition: opacity 200ms ease 0.3s, box-shadow 200ms ease 0.3s; height: 55px; z-index: 1000;">

        <nav id="navbarNav" class="col-md-10 offset-md-1 navbar navbar-expand-md navbar-light pop-bar">
            <span>
                <a class="navbar-brand" href="/">
                    <!-- <svg class="icon">
                    <use href="#-icon"></use>
                </svg> -->
                    <b>Heat Generator Service</b>
                </a>
            </span>
            <button class="fancy-toggler navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav-collapsibleNavbar"
                style="cursor: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAANpJREFUKFOF0DErhgEUxfHfYXiRQbGRWBRGH8JiMllltMhgs8jgGxBfQPkEFoOyGCyUspneUkgGpFw9et56N3e5p3v/3c490VZVrWIXx0kOe/NeTx/4hj3sYyzJVz/cD34kGa6qVywk6f4HvmAETzjHSZLrVNUMNrCTpFNVB7jDItYbG1huwHfcYynJYFV18JPku6qGcIbbBvzEHLaSbFfVOAbwjEaf4qIBj7CSZKoxX1WT7cVuq6+w+fd1VT3gJslaVTXXJPlpd01Moz1wAo+4bHsvmWnMJ5n9BcF2YYxpXBFiAAAAAElFTkSuQmCC&quot;) 0 0, auto;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav-collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li id="media-link" class="nav-item">
                        <a href="/link">
                            <i class="material-icons"></i>menu1
                        </a>
                    </li>



                    <!-- %insertPopNavItem% -->
                </ul>
            </div>
        </nav>
    </div>
    <form class="inputForm">
        <h4>Stack Parameters:</h4>
        <div class="fieldset">
            <label class="fieldLabel">Name (name)</label>
            <input type="text" id="name" />
        </div>
        <div class="fieldset">
            <label class="fieldLabel">GitHub Repo to clone (repo)</label>
            <input type="text" id="repo" />
        </div>
        <div class="fieldset">
            <label class="fieldLabel">Size of volume (volume-size)</label>
            <input type="number" id="volume-size" value="50">
        </div>
        <div class="fieldset">
            <label class="fieldLabel">Image Name (image-name)</label>
            <select name="image-name" id="image-name">
                <option value="">Please choose an image</option>
            </select>
        </div>
        <div class="fieldset">
            <label class="fieldLabel">Instance Name (instance-name)</label>
            <input type="text" id="instance-name" />
        </div>
    </form>
</body>